In [1]:
import pandas as pd

In [2]:
url = 'Data/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month - City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'
df = pd.read_csv(url)

In [3]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,114794.0,114975.0,...,269323.0,274032.0,278464.0,284127.0,289739.0,294776.0,297727.0,298796.0,299124.0,298951.0

In [4]:
id_vars = df.columns[:8]
id_vars

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName'],
      dtype='object')

In [5]:
largest_cities = pd.melt(df[df['SizeRank'].isin([0,1,2,3])], id_vars=id_vars, var_name='Date', value_name='Value')
largest_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Date,Value
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [6]:
import datetime

In [7]:
largest_cities['Date'] = pd.to_datetime(largest_cities['Date'], format='%Y-%m-%d')

In [8]:
largest_cities.dtypes

RegionID               int64
SizeRank               int64
RegionName            object
RegionType            object
StateName             object
State                 object
Metro                 object
CountyName            object
Date          datetime64[ns]
Value                float64
dtype: object

In [9]:
largest_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Date,Value
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [10]:
largest_cities = largest_cities.set_index('Date')
largest_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Value
Date,,,,,,,,,
2000-01-31,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0
2000-01-31,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0
2000-01-31,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0
2000-01-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0
2000-02-29,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,255517.0
...,...,...,...,...,...,...,...,...,...
2022-08-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315587.0
2022-09-30,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,781622.0
2022-09-30,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,966595.0
2022-09-30,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,272639.0
2022-09-30,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315429.0

In [11]:
largest_cities.index

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-02-29', '2000-02-29', '2000-02-29', '2000-02-29',
               '2000-03-31', '2000-03-31',
               ...
               '2022-07-31', '2022-07-31', '2022-08-31', '2022-08-31',
               '2022-08-31', '2022-08-31', '2022-09-30', '2022-09-30',
               '2022-09-30', '2022-09-30'],
              dtype='datetime64[ns]', name='Date', length=1092, freq=None)

In [12]:
ts = largest_cities.groupby('RegionName').resample('M').sum()

C:\Users\User\AppData\Local\Temp\ipykernel_21152\617433415.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ts = largest_cities.groupby('RegionName').resample('M').sum()
C:\Users\User\AppData\Local\Temp\ipykernel_21152\617433415.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ts = largest_cities.groupby('RegionName').resample('M').sum()
C:\Users\User\AppData\Local\Temp\ipykernel_21152\617433415.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ts = largest_cities.groupby('RegionName').resample('M').sum()
C:\Users\User\AppData\Local\Temp\ipykernel_21152\617433415.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ts = largest_cities.groupby('RegionName').resample('M').sum()

In [13]:
ts

                       RegionID  SizeRank     Value
RegionName Date
Chicago    2000-01-31     17426         3  166139.0
           2000-02-29     17426         3  166536.0
           2000-03-31     17426         3  167368.0
           2000-04-30     17426         3  168826.0
           2000-05-31     17426         3  170499.0
...                         ...       ...       ...
New York   2022-05-31      6181         0  768797.0
           2022-06-30      6181         0  773944.0
           2022-07-31      6181         0  777692.0
           2022-08-31      6181         0  779960.0
           2022-09-30      6181         0  781622.0

[1092 rows x 3 columns]

In [14]:
unstacked = ts.unstack(level=0)
unstacked

           RegionID                              SizeRank                      \
RegionName  Chicago Houston Los Angeles New York  Chicago Houston Los Angeles
Date
2000-01-31    17426   39051       12447     6181        3       2           1
2000-02-29    17426   39051       12447     6181        3       2           1
2000-03-31    17426   39051       12447     6181        3       2           1
2000-04-30    17426   39051       12447     6181        3       2           1
2000-05-31    17426   39051       12447     6181        3       2           1
...             ...     ...         ...      ...      ...     ...         ...
2022-05-31    17426   39051       12447     6181        3       2           1
2022-06-30    17426   39051       12447     6181        3       2           1
2022-07-31    17426   39051       12447     6181        3       2           1
2022-08-31    17426   39051       12447     6181        3       2           1
2022-09-30    17426   39051       12447     6181        3       2           1

                        Value
RegionName New York   Chicago   Houston Los Angeles  New York
Date
2000-01-31        0  166139.0  109068.0    234181.0  253690.0
2000-02-29        0  166536.0  109079.0    234401.0  255517.0
2000-03-31        0  167368.0  108878.0    235513.0  257207.0
2000-04-30        0  168826.0  108881.0    237589.0  260310.0
2000-05-31        0  170499.0  108834.0    240113.0  263204.0
...             ...       ...       ...         ...       ...
2022-05-31        0  312487.0  265558.0    990391.0  768797.0
2022-06-30        0  314663.0  268901.0    992337.0  773944.0
2022-07-31        0  315910.0  271059.0    992630.0  777692.0
2022-08-31        0  315587.0  272400.0    978196.0  779960.0
2022-09-30        0  315429.0  272639.0    966595.0  781622.0

[273 rows x 12 columns]

In [20]:
from matplotlib.ticker import FuncFormatter

In [21]:
def thousands_formatter(x,pos):
    return f'{x/1000:0.f}K'

In [27]:
ax = unstacked['Value'].plot()
ax.yaxis.set_major_formatter(FuncFormatter(thousands_formatter))

Error in callback <function _draw_all_if_interactive at 0x00000265EFA3C0D0> (for post_execute):

ValueError: Format specifier missing precision

ValueError: Format specifier missing precision

In [30]:
# Question 1
ts.loc[pd.IndexSlice[:,'12 2008'],:]

                        RegionID  SizeRank     Value
RegionName  Date
Chicago     2008-12-31     17426         3  265306.0
Houston     2008-12-31     39051         2  131283.0
Los Angeles 2008-12-31     12447         1  469294.0
New York    2008-12-31      6181         0  510309.0

In [42]:
# Question 2
chi_val = ts.loc['Chicago', 'Value']
hou_val = ts.loc['Houston', 'Value']
los_val = ts.loc['Los Angeles', 'Value']
new_val = ts.loc['New York', 'Value']
# make into DataFrame for .loc
comp_cols = pd.DataFrame({'Chicago':chi_val,
             'Houston':hou_val,
             'Los Angeles':los_val,
             'New York':new_val})
ts_compare = comp_cols.loc['11 2008':'12 2008']
ts_compare

             Chicago   Houston  Los Angeles  New York
Date
2008-11-30  271059.0  132247.0     481905.0  514767.0
2008-12-31  265306.0  131283.0     469294.0  510309.0

In [45]:
diff_compare = ts_compare.diff()
diff_compare

            Chicago  Houston  Los Angeles  New York
Date
2008-11-30      NaN      NaN          NaN       NaN
2008-12-31  -5753.0   -964.0     -12611.0   -4458.0

Here is how much home values dropped from Nov 2008 to Dec 2008.